@inherits LayoutComponentBase
<div class="top">
    <a href="/setup" style="color:white">Setup</a> |
    <a href="/mapping" style="color:white">Company Mapping</a> |
    <a href="/suggest" style="color:white">Suggest</a>
</div>
<div class="container">@Body</div>
